.deck-container {
  width: 800px;
  height: 600px !important;
  font-size: 22px;
}

.deck-container b {
  font-weight: bold;
}

.deck-container h1 {
  font-size: 46px;
}

.deck-container h2 {
  font-size: 26px;
}

.deck-container h3 {
  font-size: 24px;
}

.deck-container .right-float {
  float: right;
}

.deck-container img#scaleout {
  width: 40%;
}

.deck-container section.slide {
  max-width: 800px;
  max-height: 600px;
  background-image: url('../../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.logmein-logo {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 200px;
    height: 100px;
    background-image: url('../../images/logmein.png');
    background-repeat: no-repeat;
    background-size: contain;
}

code {
    font-size: smaller;
    color: black;
}
